/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** ESTILOS GERAIS
**** EXTRAS
**** @MEDIA

font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif;

*/

/* SOBRE */
  @import url("css/sobre.css");

/* CONTATO */
  @import url("css/contato.css");

/* PROJETO */
  @import url("css/projeto.css");

/* BLOG E PÁGINA DE POST */
  @import url("css/blog.css");

:root{
  --kanit: 'Kanit', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --azul-principal: #018cff;
  --azul: #105eaa;
  --azul-escuro: #042845;
  --azul-contato: #08406D;
  --verde: #00D1A1;
  --cinza: rgba(255, 255, 255, 0.5);
  --cinza-escuro: #d8d8d8;
  --cinza-claro: #f0f0f0;
  --cinza-texto: #808080;
}
body.travaScroll{
  overflow: hidden;
}

/* GERAL */
.full-container{
  width: 100%;
  max-width: 1365px;
  margin: 0 auto;
  padding: 0 10px;
}

.mid-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.right-side-container{
  width: 100%;
  max-width: 1662px;
  margin: 0 auto;
  padding: 0 10px;
}

.left-side-container{
 width: 100%;
 max-width: 1663px;
 margin: 0 auto 0 0;
 padding: 0 10px;
}

.row{
  margin: 0;
}

.hidden{
  display: none;
}

ul{
  margin: 0;
  padding: 0;
  font-size: 0;
}
li{
  list-style: none;
  font-size: 14px;
}

.button-padrao{
  background-color: var(--azul-principal);
  color: #fff;
  padding: 9px 30px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  font-family: var(--kanit);
}

.button-saiba-mais{

}

.button-ver-todos{
  text-transform: uppercase;
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 13px;
  display: inline-block;
  color: var(--azul-principal);
  cursor: pointer;
}

.titulo{
  color: #000;
  font-weight: 500;
  font-family: var(--kanit);
  font-size: 38px;
  margin: 0;
}

.button-padrao:hover{
  color: #fff;
  text-decoration: none;
}

a{
  text-decoration: none;
}
a:hover{
 text-decoration: none;
 color: var(--azul-principal); 
}

.slick-list{
  padding: 0 !important;
}

.pg{

}
  .pg ul.lista-posts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
    .pg ul.lista-posts li{
      display: inline-block;
      width: 100%;
      max-width: 28.9%;
    }
      .pg ul.lista-posts li .link-imagem{

      }
        .pg ul.lista-posts li .link-imagem figure{
          max-width: 100%;
          height: 200px;
          overflow: hidden;        
        }
          .pg ul.lista-posts li .link-imagem figure img{
            width: 100%;
          }
      .pg ul.lista-posts li .post-content{
        padding: 42px 39px 0;
      }
      .pg ul.lista-posts li .link-categoria{
        color: var(--cinza-texto);
        text-decoration: none;
        font-family: var(--roboto);
        font-size: 13px;
      }
      .pg ul.lista-posts li .link-titulo{
          text-decoration: none;
      }
        .pg ul.lista-posts li .link-titulo .titulo-post{
          color: #000;
          font-size: 20px;
          font-family: var(--kanit);
          margin: 6px 0 19px;
        }
      .pg ul.lista-posts li .data{
        color: var(--azul-principal);
        font-family: var(--roboto);
        font-size: 13px;
        text-transform: capitalize;
      }

.secao-social{
  background-image: url(img/randy-fath-ymf4_9Y9S_A-unsplash@1,5x.svg);
  padding: 110px 0 253px;
  background-size: cover;
  background-repeat: no-repeat;
}
  .secao-social .titulo{
    color: var(--azul);
    font-size: 70px;
    margin: 0;
    padding-right: 640px;
  }
  .secao-social p{
    color: #000;
    margin: 32px 0 22px;
    padding-right: 910px;
    font-size: 14px;
  }
  .secao-social img{
    width: 100%;
    max-width: 86px;
  }
  .secao-social .assistir-video{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: var(--azul-principal);
    text-decoration: none;
    margin-left: 28px;
    position: relative;
  }
  .secao-social .assistir-video::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    width: 20px;
    height: 20px;
    background-image: url(img/icon_play_circle@1,5x.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.secao-parceiros{
  background-color: var(--cinza-claro);
  padding: 98px 0;
}
  .secao-parceiros article{
    border-bottom: 1px solid var(--cinza-escuro);
    padding: 0 0 44px;
    margin: 0 0 36px;
  }
    .secao-parceiros article .titulo, .secao-parceiros article p{
      display: inline-block;
      width: 100%;
      max-width: 49.8%;
      vertical-align: middle;
    }
    .secao-parceiros article .titulo{
      margin: 0;
      padding-right: 120px;
    }
    .secao-parceiros article p{
      color: var(--cinza-texto);
      margin: 0;
    }
  .secao-parceiros ul{

  }
    .secao-parceiros ul li{
      outline: none;
    }
      .secao-parceiros ul li img{
        width: 100%;
        max-width: 180px;
        margin: 0 auto;
      }
.secao-contato{
  background-color: var(--azul-contato);
  padding: 114px 0 82px;
  background-image: url(img/contato3.svg);
  background-repeat: no-repeat;
  background-position: 793px 0;
  background-size: 565px;
  position: relative;
}
.secao-contato::before, .secao-contato::after{
  content: '';
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.secao-contato::before{
  background-image: url(img/contato1.svg);
  top: 0;
  width: 453px;
  height: 319px;
  left: 224px;
}
.secao-contato::after{
  background-image: url(img/contato2.svg);
  bottom: 0px;
  width: 480px;
  height: 165px;
  left: 87px;
}
  .secao-contato .info-contato{

  }
    .secao-contato .info-contato .titulo{
      color: #fff;
      padding-right: 190px;
    }
    .secao-contato .info-contato h6{
      color: #fff;
      margin: 25px 0 36px;
      font-family: var(--roboto);
    }
    .secao-contato .info-contato p, .secao-contato .info-contato p a{
      color: var(--cinza);
    }
    .secao-contato .info-contato p{
      padding-right: 0;
      line-height: 28px;
      font-family: var(--roboto);
      font-size: 13px;
      max-width: 418px;
      width: 100%;
      margin: 0;
    }
      .secao-contato .info-contato p a{
        -webkit-transition: ease-in-out .1s;
        -moz-transition: ease-in-out .1s;
        -ms-transition: ease-in-out .1s;
        -o-transition: ease-in-out .1s;
        transition: ease-in-out .1s;
      }
      .secao-contato .info-contato p a:hover{
        color: #fff;
      }
  .secao-contato .formulario-contato{

  }
    .secao-contato .formulario-contato form{
      max-width: 410px;
      text-align: right;
      padding-top: 12px;
    }
      .secao-contato .formulario-contato form input, .secao-contato .formulario-contato form textarea{
        display: block;
        width: 100%;
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        padding: 14px 14px;
        outline: none;
      }
      .secao-contato .formulario-contato form input{

      }
      .secao-contato .formulario-contato form textarea{
        height: 118px;
        resize: none;
      }
      .secao-contato .formulario-contato form .button-enviar{
        padding: 0;
        font-size: 13px;
        position: relative;
      }
      .secao-contato .formulario-contato form .button-enviar::before{
        content: '';
        position: absolute;
        display: block;
        width: 12px;
        height: 11px;
        top: 50%;
        left: 26px;
        background-image: url(img/icon_arrow_right_white@1,5x.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
        .secao-contato .formulario-contato form .button-enviar input[type=submit]{
          background-color: transparent;
          color: #fff;
          border: none;
          padding: 7px 30px 7px 45px;
          margin: 0;
          font-weight: 300;
          position: relative;
        }
.instagram{

}
  .instagram #instagram{

  }
.atendimento{
  background-color: var(--azul-principal);
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 18px 0;
  z-index: 9;
}
  .atendimento .col-sm-3{
    cursor: pointer;
  }
  .atendimento img, .atendimento p{
    display: inline-block;
    vertical-align: middle;
  }
  .atendimento img{
    max-width: 26px;
    width: 100%;
  }
  .atendimento p{
    margin: 0;
    margin-left: 24px;
    font-family: var(--kanit);
    line-height: 16px;
    text-align: left;
  }
    .atendimento p span, .atendimento p a{
      display: block;
      color: #fff;
    }
    .atendimento p span{
      font-weight: 300;
      text-transform: uppercase;
      font-size: 12px;
    }
    .atendimento p a{
      font-size: 20px;
      font-weight: 500;
    }
/* GERAL */


/* BODY */
body{
  font-size: 14px;
}
/* BODY */


/* HEADER */
header{
  padding: 0 120px;
  text-align: center;
  position: relative;
  z-index: 9;
  background-color: #fff;
}
  header .row{
    align-items: center;
  }
  header .col-sm-6{
    position: unset;
    padding: 0;
  }
  header .logo{
    
  }
    header .logo figure{
      margin: 0;
      max-width: 100px;
    }
      header .logo figure img{
        width: 100%;
      }
  header .menu-principal .icone-fechar-menu{
    float: right;
    margin: 20px 15px;
    font-size: 25px;
    width: 34px;
    height: 34px;
    border: 2px solid var(--azul-principal);
    line-height: 28px;
    border-radius: 100%;
    color: var(--azul-principal);
    display: none;
  }
  header .menu-principal{
    -webkit-transition: ease-in-out .1s;
    -moz-transition: ease-in-out .1s;
    -ms-transition: ease-in-out .1s;
    -o-transition: ease-in-out .1s;
    transition: ease-in-out .1s;
  }
  header .menu-principal.menu-mobile{
    left: 0;
  }
    header .menu-principal ul{
      text-align: center;
      font-size: 0;
      margin: 0;
      padding: 0;
    }
      header .menu-principal ul li{
        list-style: none;
        display: inline-block;
        text-align: center;
        padding: 0 28px;
        border-bottom: 5px solid transparent;
      }
      header .menu-principal ul li:hover{
        border-bottom: 5px solid var(--azul-principal);
      }
      header .menu-principal ul li:hover a.imoveis + .submenu{
        display: block;
      }
        header .menu-principal ul li a{
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          padding: 27px 0 20px;
          display: inline-block;
          font-family: var(--roboto);
        }
        header .menu-principal ul li a.imoveis{
          position: relative;
          padding-right: 15px;
        }
        header .menu-principal ul li a.imoveis::before{
          content: '';
          display: block;
          position: absolute;
          top: 56%;
          right: 0;
          width: 10px;
          height: 7px;
          background-image: url(img/next.svg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        header .menu-principal ul li .submenu{
          display:none;
          position: absolute;
          background-color: #000;
          color: #fff;
          width: 100%;
          left: 0;
          top: 71px;
          text-align: initial;
          max-height: 635px;
        }
          header .menu-principal ul li .submenu .row{
            align-items: initial;
          }
          header .menu-principal ul li .submenu article{
            width: 100%;
            max-width: 540px;
            margin: 54px 44px 0 auto;
          }
            header .menu-principal ul li .submenu article .titulo{
              color: #fff;
              font-size: 80px;
            }
            header .menu-principal ul li .submenu article nav{
              text-align: center;
              border-bottom: 1px solid rgba(240, 240, 240, 0.2);
              font-size: 0;
              margin: 56px 0;
            }
              header .menu-principal ul li .submenu article nav a{
                color: var(--cinza);
                display: inline-block;
                padding: 0 25px 20px;
                border-bottom: 4px solid transparent;
              }
              header .menu-principal ul li .submenu article nav a.active-imovel-status{
                color: #fff;
                border-bottom: 4px solid var(--azul-principal);
              }
              header .menu-principal ul li .submenu article nav a:hover{
                color: #fff;
                border-bottom: 4px solid var(--azul-principal);
              }
            header .menu-principal ul li .submenu article ul{
              text-align: initial;
              max-width: 253px;
              display: none;
              position: absolute;
            } 
            header .menu-principal ul li .submenu article ul.menuEmpreendimentos0{
              display: block;
            }
              header .menu-principal ul li .submenu article ul li{
                display: list-item;
                text-align: initial;
                border-radius: 30px;
                padding: 6px 34px;
                cursor: pointer;
                margin: 0 0 15px;
                position: relative;
              }
              header .menu-principal ul li .submenu article ul li a{
                
              }
              header .menu-principal ul li .submenu article ul li.active-imovel:hover{
                background-color: var(--azul-principal);
              }
              header .menu-principal ul li .submenu article ul li:hover{
                background-color: var(--azul-principal);
              }
              /*header .menu-principal ul li .submenu article ul li.active-imovel{
                background-color: var(--azul-principal);
              }*/
              header .menu-principal ul li .submenu article ul li::before{
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 20px;
                width: 7px;
                height: 14px;
                background-image: url(img/back.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
              }
          header .menu-principal ul li .submenu .imagem-projeto{
            position: relative;
            max-width: 792px;
          }
          header .menu-principal ul li .submenu .imagem-projeto::before{
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 100%;
            max-height: 370px;
            background: linear-gradient(0deg, var(--azul-escuro), transparent);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
          }
            header .menu-principal ul li .submenu .imagem-projeto figure{
              margin: 0;
              max-height: 635px;
              overflow: hidden;
            }
           
              header .menu-principal ul li .submenu .imagem-projeto figure img{
                width: 100%;
                max-width: 100%;
              }
            header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo{
              position: absolute;
              bottom: 0;
              left: 0;
              margin: 0 0 52px 61px;
              width: 100%;
              max-width: 600px;
              z-index: 3;
            }
              header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo span{
                font-family: var(--kanit);
                text-transform: uppercase;
                font-weight: 300;
                font-size: 12px;
              }
              header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo .titulo{
                color: #fff;
                margin: 9px 0 27px;
                line-height: 32px;
                font-size: 32px;
              }
              header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo p{
                margin: 0;
                display: inline-block;
                width: 100%;
                position: relative;
                max-width: fit-content;
                padding-left: 38px;
                margin-right: 18px;
              }
              header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo p.dormitorio{

              }
              header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo p.medida{

              }
              header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo p::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                width: 24px;
                height: 17px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
              }
              header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo p.dormitorio::before{
                background-image: url(img/bed-white.svg);
              }
              header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo p.medida::before{
                background-image: url(img/measure-white.svg);
                width: 32px;
              }
  header .menu-principal ul li a.login.button-padrao{
    display: none;
  }
  header a.login{
    
  }
  header img.icone-menu{
    width: 100%;
    max-width: 22px;
    position: absolute;
    right: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
  }
/* HEADER */


/* FOOTER */
footer{
  padding: 56px 0 152px;
  background-color: #fff;
  position: relative;
  z-index: 5;
}
  footer .row{
    padding-right: 30px;
  }
  footer .container .row{
  	padding: 0;
  }
  footer .button-padrao{
    display: block;
    width: 100%;
    max-width: fit-content;
    margin: 9px 0 0 auto;
  }
  footer .selosAtr{
    
  } 
    footer .selosAtr img{
      max-width: 100px;
      display: inline-block;
      margin-right: 20px;
    }
  footer .logo{
    margin: 0;
    max-width: 180px;
  }
    footer .logo img{
      width: 100%;
    }
  footer a.endereco{
    display: inline-block;
    margin: 45.6px 0 0;
    color: #000;
    font-family: var(--roboto);
    text-decoration: none;
    font-weight: 500;
  }
  footer .menu-footer{

  }
    footer .menu-footer .titulo{
      font-size: 15px;
      font-family: var(--roboto);
      margin: 0 0 20px;
    }
      footer .menu-footer p{
        color: var(--cinza-texto);
        line-height: 28px;
        font-family: var(--roboto);
      }
      footer .menu-footer a{
        color: var(--azul-principal);
        text-decoration: none;
        font-weight: 500;
      }
      footer .menu-footer nav{

      }
        footer .menu-footer nav a{
          display: block;
          max-width: fit-content;
          color: var(--cinza-texto);
          text-decoration: none;
          margin: 10px 0;
          font-family: var(--roboto);
          font-weight: 400;
        }
      footer .menu-footer ul{

      }
        footer .menu-footer ul li{
          display: inline-block;
          max-width: 26%;
          width: 100%;
          margin: 0 0 13px;
        }
          footer .menu-footer ul li a{
            display: inline-block;
          }
            footer .menu-footer ul li a img{
              width: 18px;
            }
  footer .copyright{
    margin: 29px 0 0;
    padding: 20.17px 0 0;
    border-top: 1px solid var(--cinza-escuro);
  }
    footer .copyright p, footer .copyright a{
      display: inline-block;
      margin: 0;
      width: 100%;
      max-width: 49.8%;
      font-size: 13px;
      color: var(--cinza-texto);
    }
    footer .copyright p{

    }
    footer .copyright a{
      text-align: right;
    }
/* FOOTER */


/* PÁGINA INICIAL */
.pg-inicial{

}
  .pg-inicial .secao-destaque{
    background-color: var(--cinza-claro);
    position: relative;
  }
    .pg-inicial .secao-destaque .carrossel-destaque{
      z-index: 0;
    }
    .pg-inicial .secao-destaque .destaque{
      padding: 104px 0 258px;
      background-image: url(img/banner.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .pg-inicial .secao-destaque .destaque::before{
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, var(--azul-escuro), transparent);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
      .pg-inicial .secao-destaque .destaque .item{

      }
        .pg-inicial .secao-destaque .destaque .item article{
          color: #fff;
          position: relative;
        }
          .pg-inicial .secao-destaque .destaque .item article .titulo{
            margin: 0;
            padding-right: 410px;
            color: #fff;
          }
          .pg-inicial .secao-destaque .destaque .item article p{
            margin: 0;
            font-family: var(--roboto);
            font-size: 15px;
            padding-right: 590px;
            line-height: 25px;
            margin: 38px 0;
          }
          .pg-inicial .secao-destaque .destaque .item article .button-saiba-mais{

          }
    .pg-inicial .secao-destaque .destaque-menor{
      position: absolute;
      top: 466px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 100%;
    }
      .pg-inicial .secao-destaque .destaque-menor .item{
        background-color: #fff;
        border-radius: 5px;
        max-height: 470px;
      }
        .pg-inicial .secao-destaque .destaque-menor .item .col-md-6{
          padding: 0;
        }
        .pg-inicial .secao-destaque .destaque-menor .item figure{
          margin: 0;
          max-width: 100%;
        }
          .pg-inicial .secao-destaque .destaque-menor .item figure img{
            width: 100%;
          }
        .pg-inicial .secao-destaque .destaque-menor .item article{
          color: var(--cinza-texto);
          padding: 74px 50px 0 69px;
        }
          .pg-inicial .secao-destaque .destaque-menor .item article span{
            font-family: var(--kanit);
            text-transform: uppercase;
            font-size: 13px;
          }
          .pg-inicial .secao-destaque .destaque-menor .item article .projeto-status{
            color: var(--azul-principal);
          }
          .pg-inicial .secao-destaque .destaque-menor .item article .titulo{
            margin: 10px 0 20px;
          }
          .pg-inicial .secao-destaque .destaque-menor .item article p{
            margin: 0 0 40px;
            font-family: var(--roboto);
            font-size: 13px;
            padding-right: 70px;
            line-height: 22px;
          }
          .pg-inicial .secao-destaque .destaque-menor .item article h5{
            display: inline-block;
            margin: 0 8px 0 0;
            font-size: 13px;
            font-weight: 400;
            font-family: var(--roboto);
            position: relative;
            padding-left: 40px;
          }
          .pg-inicial .secao-destaque .destaque-menor .item article h5::before{
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            left: 0;
            width: 27px;
            height: 18px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .pg-inicial .secao-destaque .destaque-menor .item article h5.medida{

          }
          .pg-inicial .secao-destaque .destaque-menor .item article h5.dormitorio::before{
            background-image: url(img/bed.svg);
          }
          .pg-inicial .secao-destaque .destaque-menor .item article h5.medida::before{
            background-image: url(img/measure.svg);
            width: 35px;
          }
          .pg-inicial .secao-destaque .destaque-menor .item article .entrega{
            display: block;
            margin: 38px 0 0;
          }
    .pg-inicial .secao-destaque .carrossel-destaque .owl-dots{
      position: absolute;
      top: 200px;
      left: 128px;
      display: flex;
      flex-direction: column;
      min-height: 240px;
      justify-content: center;
    }
      .pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot{
        display: block;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        margin: 10px auto;
        outline: none;
      }
        .pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot span{
          background: transparent;
          margin: 0;
        }
      .pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot.active{
        padding: 4px !important;
      }
        .pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot.active span{
          background: #fff;
        }
    .pg-inicial .secao-destaque .destaque-menor .carrossel-destaque{

    }
      .pg-inicial .secao-destaque .destaque-menor .carrossel-destaque-menor .owl-dots{
        margin: 30px 0 0;
      }
        .pg-inicial .secao-destaque .destaque-menor .carrossel-destaque-menor .owl-dots .owl-dot{
          outline: none;
        }
          .pg-inicial .secao-destaque .destaque-menor .carrossel-destaque-menor .owl-dots .owl-dot span{
            border: 1px solid #c1c1c1;
            background-color: transparent;
            width: 12px;
            height: 12px;
            margin: 0 4px;
          }
          .pg-inicial .secao-destaque .destaque-menor .carrossel-destaque-menor .owl-dots .owl-dot span:hover{
            background-color: var(--azul-principal);
            border-color: var(--azul-principal);
          }
        .pg-inicial .secao-destaque .destaque-menor .carrossel-destaque-menor .owl-dots .owl-dot.active{

        }
          .pg-inicial .secao-destaque .destaque-menor .carrossel-destaque-menor .owl-dots .owl-dot.active span{
            background-color: var(--azul-principal);
            border-color: var(--azul-principal);
          }
      .pg-inicial .secao-destaque .carrossel-destaque .owl-nav{
        position: absolute;
        top: 170px;
        left: 125px;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: space-between;
      }
        .pg-inicial .secao-destaque .carrossel-destaque .owl-nav .owl-prev, .pg-inicial .secao-destaque .carrossel-destaque .owl-nav .owl-next{
          margin: 0;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          outline: none;
          display: block;
        }
        .pg-inicial .secao-destaque .carrossel-destaque .owl-nav .owl-prev:hover, .pg-inicial .secao-destaque .carrossel-destaque .owl-nav .owl-next:hover{
          background-color: transparent;
        }
          .pg-inicial .secao-destaque .carrossel-destaque .owl-nav .owl-prev span, .pg-inicial .secao-destaque .carrossel-destaque .owl-nav .owl-next span{
            display: none;
          }
        .pg-inicial .secao-destaque .carrossel-destaque .owl-nav .owl-prev{
          background-image: url(img/icon_arrow_up@1,5x.svg);
        }
        .pg-inicial .secao-destaque .carrossel-destaque .owl-nav .owl-next{
          background-image: url(img/icon_arrow_down@1,5x.svg);
        }
  .pg-inicial .secao-empreendimentos{
    background-color: var(--cinza-claro);
    padding: 376px 0 157px;
  }
    .pg-inicial .secao-empreendimentos .titulo{
      display: inline-block;
      width: 100%;
      max-width: fit-content;
    }
    .pg-inicial .secao-empreendimentos .button-ver-todos{
      position: relative;
      padding-right: 30px;
      float: right;
      margin: 14px 0 0;
      color: var(--azul-principal)!important;
    }
    .pg-inicial .secao-empreendimentos .button-ver-todos::before{
      content: '';
      position: absolute;
      display: block;
      width: 64px;
      height: 64px;
      top: 48%;
      right: 0;
      background-image: url(img/seta-azul.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues{
      display: flex;
      justify-content: space-between;
      margin: 58px 0 0;
      flex-wrap: wrap;
    }
      .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item{
        list-style: none;
        width: 100%;
        max-width: 420px;
        margin: 0;
        position: relative;
        border-radius: 5px;
        max-height: 630px;
        overflow: hidden;
      }
      .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item::before{
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 0;
        background: linear-gradient(0deg, var(--azul-escuro), transparent);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 5px;
        -webkit-transition: ease-in-out .1s;
        -moz-transition: ease-in-out .1s;
        -ms-transition: ease-in-out .1s;
        -o-transition: ease-in-out .1s;
        transition: ease-in-out .1s;
      }
      .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item:hover::before{
        height: 100%;
      }
        .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item figure{
          margin: 0;
          max-width: 436px;
          border-radius: 5px;
        }
          .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item figure img{
            width: 100%;
            border-radius: 5px;
          }
        .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article{
          position: absolute;
          bottom: 0;
          width: 100%;
          color: #fff;
          padding: 50px 61px;
          display: block;
          opacity: 0;
          -webkit-transition: ease-in-out .1s;
          -moz-transition: ease-in-out .1s;
          -ms-transition: ease-in-out .1s;
          -o-transition: ease-in-out .1s;
          transition: ease-in-out .1s;
        }
        .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item:hover article{
          opacity: 1;
        }
          .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article .titulo{
            padding: 0 0 37px;
            color: #fff;
            margin: 0;
          }
          .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article p{
            padding: 0 0 0 47px;
            margin: 0 0 14px;
            font-size: 15px;
            position: relative;
          }
          .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article p::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 24px;
            height: 17px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article p.dormitorio::before{
            background-image: url(img/bed-white.svg);
            left: 8px;
          }
          .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article p.medida::before{
            background-image: url('img/measure-white.svg');
            width: 32px;
          }
          .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article .button-ver-todos{
            width: 100%;
            max-width: fit-content;
            text-align: right;
            padding-right: 23px;
            float: initial;
          }
          .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article .button-ver-todos::before{
            width: 16px;
            height: 16px;
          }
  .pg-inicial .secao-sobre-atr{
    margin: 0 0 25px;
  }
    .pg-inicial .secao-sobre-atr figure{
      max-width: 500px;
      position: relative;
      margin: 0;
      height: 100%;
    }
    .pg-inicial .secao-sobre-atr figure::before, .pg-inicial .secao-sobre-atr figure::after{
      content: '';
      position: absolute;
      width: 85px;
      height: 135px;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .pg-inicial .secao-sobre-atr figure::before{
      background-image: url(img/fundoc1.svg);
      top: 25px;
      right: -16px;
      z-index: 9;
    }
    .pg-inicial .secao-sobre-atr figure::after{
      background-image: url(img/sobred.svg);
      left: 39px;
      bottom: 190px;
    }
      .pg-inicial .secao-sobre-atr figure img{
        width: 100%;
        position: absolute;
        bottom: 37px;
        max-width: 688px;    
      }
    .pg-inicial .secao-sobre-atr article{
      padding: 106px 0 184px;
    }
      .pg-inicial .secao-sobre-atr article img{
        width: 100%;
        max-width: 30px;
      }
      .pg-inicial .secao-sobre-atr article .titulo{
        padding-right: 120px;
        margin: 25px 0 0;
      }
      .pg-inicial .secao-sobre-atr article p{
        font-size: 16px;
        padding-right: 250px;
        font-family: var(--roboto);
        color: var(--azul-escuro);
        margin: 25px 0 44px;
      }
      .pg-inicial .secao-sobre-atr article .descricao{
        margin: 0 0 44px;
        font-size: 0;
      }
        .pg-inicial .secao-sobre-atr article .descricao span, .pg-inicial .secao-sobre-atr article .descricao ul{
          display: inline-block;
          vertical-align: top;
          font-size: 13px;
        }
        .pg-inicial .secao-sobre-atr article .descricao span{
          max-width: 60%;
          color: var(--cinza-texto);
        }
        .pg-inicial .secao-sobre-atr article .descricao ul{
          padding-left: 10px;
          max-width: 40%;
        }
          .pg-inicial .secao-sobre-atr article .descricao ul li{
            color: #000;
            font-size: 15px;
            margin: 0 0 10px;
            position: relative;
            padding-left: 20px;
          }
          .pg-inicial .secao-sobre-atr article .descricao ul li::before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            display: block;
            top: 50%;
            left: 0;
            background-image: url(img/icon_check_mark@1,5x.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
      .pg-inicial .secao-sobre-atr article .button-ver-todos{
        text-transform: capitalize;
        padding: 7px 25px 7px 45px;
        font-size: 13px;
        font-weight: 300;
        font-family: var(--kanit);
        color: #fff;
        position: relative;
      }
      .pg-inicial .secao-sobre-atr article .button-ver-todos::before{
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        top: 50%;
        left: 21px;
        background-image: url(img/seta-branca.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  .pg-inicial .secao-social{

  }
    .pg-inicial .secao-social .titulo{

    }
    .pg-inicial .secao-social p{

    }
    .pg-inicial .secao-social img{

    }
    .pg-inicial .secao-social .assistir-video{

    }
  .pg-inicial .secao-parceiros{

  }
    .pg-inicial .secao-parceiros article{

    }
      .pg-inicial .secao-parceiros article .titulo{

      }
      .pg-inicial .secao-parceiros article p{

      }
    .pg-inicial .secao-parceiros ul{

    }
      .pg-inicial .secao-parceiros ul li{

      }
        .pg-inicial .secao-parceiros ul li img{

        }
  .pg-inicial .secao-blog{
    background-color: var(--cinza-claro);
    padding: 0 0 98px;
  }
    .pg-inicial .secao-blog ul{

    }
      .pg-inicial .secao-blog ul li{

      }
        .pg-inicial .secao-blog ul li .link-imagem{

        }
          .pg-inicial .secao-blog ul li .link-imagem figure{
            margin: 0;
            overflow: hidden;
            height: 250px;
          }
            .pg-inicial .secao-blog ul li .link-imagem figure img{

            }
        .pg-inicial .secao-blog ul li .post-content{

        }
        .pg-inicial .secao-blog ul li .link-categoria{

        }
        .pg-inicial .secao-blog ul li .link-titulo{

        }
          .pg-inicial .secao-blog ul li .link-titulo .titulo-post{

          }
        .pg-inicial .secao-blog ul li .data{

        }
  .pg-inicial .secao-contato{

  }
    .pg-inicial .secao-contato .info-contato{

    }
      .pg-inicial .secao-contato .info-contato .titulo{

      }
      .pg-inicial .secao-contato .info-contato h6{

      }
      .pg-inicial .secao-contato .info-contato p{

      }
        .pg-inicial .secao-contato .info-contato p a{

        }
    .pg-inicial .secao-contato .formulario-contato{

    }
      .pg-inicial .secao-contato .formulario-contato form{

      }
        .pg-inicial .secao-contato .formulario-contato form input, .pg-inicial .secao-contato .formulario-contato form textarea{

        }
        .pg-inicial .secao-contato .formulario-contato form input{

        }
        .pg-inicial .secao-contato .formulario-contato form textarea{

        }
        .pg-inicial .secao-contato .formulario-contato form .button-enviar{

        }
          .pg-inicial .secao-contato .formulario-contato form .button-enviar input[type=submit]{

          }
  .pg-inicial .instagram{

  }
    .pg-inicial .instagram #instagram{

    }
/* PÁGINA INICIAL */


/* EXTRA */
  .imgHidden{
    display: none;
  }
  div.wpcf7 .ajax-loader {
    margin: 0; 
    position: absolute;
    bottom: -18px;
    right: 0;
  }
  div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
    background-color: #f7e700;
    text-align: center;
  }
  .page-template-contato header .menu-principal>ul>li:nth-child(4){
    border-bottom: 5px solid var(--azul-principal);
  } 
  .blog  header .menu-principal>ul>li:nth-child(3){
    border-bottom: 5px solid var(--azul-principal);
  } 
  .single-post  header .menu-principal>ul>li:nth-child(3){
    border-bottom: 5px solid var(--azul-principal);
  }
  .page-template-pagessobre-php header .menu-principal>ul>li:nth-child(1){
    border-bottom: 5px solid var(--azul-principal);
  }

  ::-webkit-scrollbar{
    display: block;
    width: 10px;
    background-color: #f3f3f3;
  }

  ::-webkit-scrollbar-button{
    background-color: var(--azul-principal);
  }

  ::-webkit-scrollbar-track{ /* 3 */ }

  ::-webkit-scrollbar-track-piece{ /* 4 */ }

  ::-webkit-scrollbar-thumb{
    background-color: var(--azul-principal);
  }

  ::-webkit-scrollbar-corner{ /* 6 */ }
  
  ::-webkit-resizer{ /* 7 */ }
.lds-roller {
  display: none;

  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

 
  header .menu-principal ul li .submenu .imagem-projeto.ativeLoad figure:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000c4;
    z-index: 1;
    top: 0;
    right: 0;
  }
header .menu-principal ul li .submenu .imagem-projeto.ativeLoad{

}
   header .menu-principal ul li .submenu .imagem-projeto.ativeLoad .lds-roller{
    display: inline-block;
    z-index: 2;
  }
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  a.whatsapp-mobile{
    background-color: var(--azul-principal);
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    line-height: 58px;
    border-radius: 100%;
    z-index: 9;
    display: none;
  }
    a.whatsapp-mobile img{
      width: 100%;
      max-width: 26px;
    }
/* EXTRA */


/* MEDIA QUERY */
@media(max-width: 1400px){
  .pg-inicial .secao-destaque .carrossel-destaque .owl-dots {
    left: 70px;
  }
  .pg-inicial .secao-destaque .carrossel-destaque .owl-nav {
    left: 65px;
  }
}

@media(max-width: 1350px){
  .full-container{
    max-width: 1200px;
  }
  .secao-social p {
    padding-right: 770px;
  }
  .secao-social .titulo {
    padding-right: 400px;
  }
  .pg-inicial .secao-sobre-atr article .descricao ul li::before{
    width: 13px;
    height: 13px;
  }
  .pg-inicial .secao-sobre-atr article .descricao ul li {
    font-size: 13px;
    margin: 0 0 10px;
  }
}

@media(max-width: 1280px){
  .pg-inicial .secao-destaque .carrossel-destaque .owl-dots {
    left: 33px;
  }
  .pg-inicial .secao-destaque .carrossel-destaque .owl-nav {
    left: 29px;
  }
}

@media(max-width: 1200px){
  .pg-inicial .secao-destaque .destaque .item article .titulo {
    padding-right: 202px;
  }
  .pg-inicial .secao-destaque .destaque .item article p {
    margin: 28px 0;
  }
  .pg-inicial .secao-destaque .destaque-menor .item article {
    padding: 54px 20px 0 50px;
  }
  .pg-inicial .secao-destaque .destaque-menor .item article p {
    margin: 0 0 20px;
  }
  .secao-social p {
    padding-right: 620px;
  }
  .pg-inicial .secao-sobre-atr figure img {
    bottom: 47px;
  }
  .pg-inicial .secao-sobre-atr article .descricao span{
    margin: 0 0 20px;
  }
  .pg-inicial .secao-sobre-atr article .descricao ul {
    padding: 0;
  }
  .secao-parceiros article .titulo {
    padding-right: 20px;
  }
  .secao-parceiros article .titulo, .secao-parceiros article p {
    max-width: 49.7%;
  }
  .secao-contato .info-contato .titulo {
    padding-right: 70px;
  }
  .secao-contato .info-contato p {
    padding-right: 44px;
  }
  .pg-inicial .secao-empreendimentos .button-ver-todos{
    margin: 10px 0 0;
  }
  header .menu-principal ul li {
    padding: 0 20px;
  }
  header .menu-principal ul li a {
    font-size: 12px;
  }
}

@media(max-width: 991px){
  .pg-inicial .secao-destaque .destaque .item article p {
    padding-right: 120px;
  }
  .pg-inicial .secao-destaque .destaque .item article .titulo {
    padding-right: 0;
  }
  .pg-inicial .secao-destaque .carrossel-destaque .owl-dots {
    left: 64px;
  }
  .pg-inicial .secao-destaque .carrossel-destaque .owl-nav {
    left: 59px;
  }
  .pg-inicial .secao-destaque .destaque-menor .item article h5.medida {
    margin: 15px 0 0;
  }
  .pg-inicial .secao-destaque .destaque-menor .item figure {
    margin: 0;
    width: auto;
    height: 410px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .pg-inicial .secao-destaque .destaque-menor .item figure img {
    width: auto;
    height: 100%;
  }
  .pg-inicial .secao-destaque .destaque-menor .item article {
    padding: 30px 25px 22px 25px;
  }
  .pg-inicial .secao-destaque .destaque-menor .item article .titulo {
    margin: 8px 0 15px;
    font-size: 28px;
  }
  .pg-inicial .secao-destaque .destaque-menor .item article p {
    margin: 0 0 16px;
    padding-right: 5px;
  }
  .pg-inicial .secao-destaque .destaque-menor .item article .entrega {
    display: block;
    margin: 20px 0 0;
  }
  .secao-social .titulo {
    padding-right: 180px;
  }
  .secao-social p {
    padding-right: 540px;
  }
  .pg-inicial .secao-sobre-atr article {
    padding: 96px 0 75px;
  }
  .pg-inicial .secao-sobre-atr figure img {
    bottom: 147px;
    max-width: 398px;
  }
  .pg-inicial .secao-sobre-atr figure::after {
    bottom: 240px;
  }
  .pg-inicial .secao-sobre-atr article p {
    padding-right: 0;
    margin: 18px 0 30px;
  }
  .secao-parceiros article .titulo {
    padding: 0;
    font-size: 30px;
  }
  .secao-contato .info-contato .titulo, .secao-contato .info-contato p {
    padding-right: 0;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article p {
    padding: 0 0 0 40px;
    margin: 0 0 12px;
    font-size: 13px;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article .titulo {
    padding: 0 0 30px;
    font-size: 30px;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article {
    padding: 30px 30px;
  }
  header .menu-principal ul li {
    padding: 0 10px;
  }
}

@media(max-width: 840px){
  .pg-inicial .secao-destaque .carrossel-destaque .owl-dots {
    left: 23px;
  }
  .pg-inicial .secao-destaque .carrossel-destaque .owl-nav {
    left: 19px;
  }
  .secao-social .titulo {
    padding-right: 30px;
  }
  .secao-social p {
    padding-right: 360px;
  }
  .pg-inicial .secao-sobre-atr article .titulo{
    padding: 0;
  }
  .pg-inicial .secao-sobre-atr figure::before{
    top: -15px;
  }
  .pg-inicial .secao-blog ul li{
    max-width: 31.3%;
  }
  .pg-inicial .secao-blog ul li .post-content{
    padding: 15px 8px 0;
  }
}

@media(max-width: 768px){
  a.whatsapp-mobile{
    display: block;
  }
  .pg-inicial .secao-destaque .destaque-menor .item {
    min-height: 315px;
  }
  .pg-inicial .secao-destaque .destaque-menor .item figure {
    display: none;
  }
  .pg-inicial .secao-destaque .destaque-menor {
    top: 566px;
  }
  .pg-inicial .secao-empreendimentos {
    padding: 256px 0 77px;
  }
  .secao-contato::before, .secao-contato::after{
    display: none;
  }
  .secao-contato{
    background-image: none;
  }
  .secao-social .titulo {
    padding-right: 0;
  }
  .secao-social p {
    padding-right: 0;
    max-width: 400px;
  }
  .atendimento{
    display: none;
  }
  .pg-inicial .secao-sobre-atr figure{
    display: none;
  }
  .pg-inicial .secao-sobre-atr article .descricao ul {
    margin: 0;
  }
  .secao-parceiros article .titulo, .secao-parceiros article p {
    max-width: 49.6%;
  }
  .pg ul.lista-posts li .link-titulo .titulo-post {
    font-size: 17px;
  }
  .pg-inicial .secao-contato .formulario-contato form {
    max-width: 100%;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item::before{
    height: 100%;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article {
    opacity: 1;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article .button-ver-todos {
    font-size: 11px;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article p::before{
    display: none;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article p {
    padding: 0;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article .titulo {
    padding: 0 0 20px;
    font-size: 30px;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item article p {
    padding: 0;
  }
  .secao-social {
    padding: 60px 0 123px;
  }
  header .menu-principal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: -200%;
    z-index: 5;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  header .menu-principal ul li .submenu article ul li::before {
    transform: rotate(90deg);
}
/* EXTRA */
.imgHidden{
  display: block;
  position: absolute;
  left: 18px;
  top: 14px;
}
  header .menu-principal.menu-mobile ul li {
    display: block;
    text-align: left;
    padding: 0 30px;
  }
  header .menu-principal.menu-mobile ul li a {
    font-size: 17px;
    display: block;
  }
 /* header .menu-principal ul li:hover a.imoveis + .submenu{
    display: none;
  }*/
  header .menu-principal ul li .submenu .imagem-projeto .projeto-conteudo {
      bottom: 72px;
  }
  header .menu-principal ul li .submenu article ul{
    max-width: 100%;
  }
  header .menu-principal ul li .submenu article .titulo{
    text-align: center;
    font-size: 27px;
  }
  header .menu-principal ul li .submenu article nav a {
      font-size: 12px;
      display: block;
  }
  header .menu-principal ul li .submenu article nav{
    margin: 20px 0;
  }
  header .menu-principal ul li .submenu{
    top: 0;
  }
  header .menu-principal ul li a.imoveis::before{
    display: none;
  }
  header {
    padding: 8px 120px;
  }
  header .menu-principal ul li a.login.button-padrao {
    display: inline-block;
    padding: 8px 34px;
    color: #fff;
  }
  header a.login{
    display: none;
  }
  header .logo figure {
    max-width: 110px;
    margin: 0 auto;
  }
  header img.icone-menu{
    display: block;
  }
  footer .menu-footer ul li a img {
    width: 24px;
  }
  footer{
    text-align: center;
    padding: 56px 0 22px;
  }
  footer .logo{
    margin: 0 auto;
  }
  footer .button-padrao {
    margin: 9px auto 0;
  }
  footer .menu-footer nav a{
    max-width: 100%;
  }
  footer .copyright a {
    text-align: center;
  }
  footer .menu-footer {
    margin: 0 0 20px;
  }
  footer .row{
    padding: 0;
  }
  header .menu-principal .icone-fechar-menu{
    display: block;
  }
  .pg-inicial .secao-destaque .destaque .item article p{
    padding-right: 0;
    max-width: 390px;
    margin: 28px auto;
  }
  footer a.endereco{
    margin: 45.6px 0 20px;
  }
}

@media(max-width: 640px){
  .instagram{
    display: none;
  }
}

@media(max-width: 600px){
  .secao-social .titulo {
    font-size: 52px;
  }
  .secao-parceiros article {
    padding: 0px 0 24px;
    margin: 0 0 36px;
  }
  .secao-parceiros article .titulo, .secao-parceiros article p {
    max-width: 100%;
  }
  .secao-parceiros {
    padding: 68px 0;
  }
  .pg-inicial .secao-parceiros article .titulo {
    margin: 0 0 20px;
  }
  .pg-inicial .secao-blog ul li {
    max-width: 346px;
    margin: 0 0 20px;
  }
  .pg-inicial .secao-blog ul{
    justify-content: center;
  }
  .pg-inicial .secao-empreendimentos .titulo {
    font-size: 30px;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues {
    justify-content: center;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues div.item {
    max-width: 345px;
    margin: 0 0 20px;
  }
  .pg-inicial .secao-blog {
    padding: 0 0 48px;
  }
  .secao-contato {
    padding: 64px 0 50px;
  }
  .pg-inicial .secao-destaque .carrossel-destaque .owl-dots, .pg-inicial .secao-destaque .carrossel-destaque .owl-nav{
    display: none;
  }
}

@media(max-width: 500px){
  .pg-inicial .secao-sobre-atr article .titulo {
    font-size: 30px;
  }
  .secao-social {
    padding: 50px 0 73px;
  }
  .pg-inicial .secao-destaque .destaque-menor {
    position: initial;
    top: initial;
    left: initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
    width: 100%;
    margin-top: 30px;
  }
  .pg-inicial .secao-destaque .destaque {
    padding: 54px 0 60px;
  }
  .pg-inicial .secao-destaque .destaque .item article .titulo {
    font-size: 20px;
  }
  .pg-inicial .secao-destaque .destaque .item article p {
    margin: 18px auto;
    line-height: 18px;
  }
  .pg-inicial .secao-empreendimentos {
    padding: 40px 0 37px;
  }
  .pg-inicial .secao-empreendimentos #carrossel-empreendimentos-entregues {
    margin: 28px 0 0;
  }
  .pg-inicial .secao-destaque .destaque-menor .carrossel-destaque-menor .owl-dots {
    margin: 10px 0 0;
  }
  .pg-inicial .secao-destaque .destaque .item article .titulo {
    line-height: 18px;
  }
  .pg-inicial .secao-destaque .destaque-menor .item{
    min-height: 0;
  }
  .pg-inicial .secao-sobre-atr article {
    padding: 30px 0 10px;
  }
  .secao-social {
    padding: 20px 0 33px;
  }
  .secao-parceiros {
    padding: 28px 0;
  }
  .pg-inicial .secao-blog {
    padding: 0 0 20px;
  }
}

@media(max-width: 445px){
  .secao-social .titulo {
    font-size: 38px;
  }
}

@media(max-width: 425px){
  
}

@media(max-width: 380px){
  .pg-inicial .secao-sobre-atr article p {
    margin: 14px 0 18px;
  }
  .secao-social .titulo {
    font-size: 30px;
  }
}

@media(max-width: 320px){}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14!important;
    background-color: white!important;
}

.single{

}
.single table{
    border-collapse: collapse;
    margin: 0 auto;
    border: solid 1px #ccc;
}
.single tr{
    border-bottom: solid 1px #ccc;
}
.layoutArea {
    max-width: 613px;
    margin:0 auto;
}
.layoutArea  article h4  {
  font-size: 17px;
}