/* PÁGINA DE CONTATO */
.pg-contato{
	background-color: var(--cinza-claro);
	padding: 43px 0;
	background-image: url(../img/Rectangle-Copy@1,5x.svg);
	background-repeat: no-repeat;
	background-size: 318px;
	background-position: 1130px -42px;
	position: relative;
}
.pg-contato::before, .pg-contato::after{
	content: '';
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.pg-contato::before{
	background-image: url(../img/Rectangle@1,5x.svg);
	top: -81px;
	left: 776px;
	width: 308px;
	height: 325px;
	z-index: 0;
}
.pg-contato::after{
	background-image: url(../img/Rectangle-Copy-3@1,5x.svg);
	bottom: -128px;
	left: 766px;
	width: 318px;
	height: 502px;
}
	.pg-contato .container{
		position: relative;
	}
	.pg-contato .titulo{
		font-size: 75px;
		line-height: 68px;
		padding: 0 514px 0 0;
	}
	.pg-contato .secao-contato{
		background: none;
		padding: 0;
		position: initial;
	}
	.pg-contato .col-md-7, .pg-contato .col-md-5{
		padding: 0;
	}
	.pg-contato .secao-contato::before, .pg-contato .secao-contato::after{
		display: none;
	}
	.pg-contato .info-contato{
		padding-right: 80px !important;
		position: relative;
		z-index: 5;
	}
		.pg-contato .info-contato p, .pg-contato .info-contato p a{
			color: var(--cinza-texto) !important;
		}
		.pg-contato .info-contato p{
			font-size: 13px;
			font-weight: 400 !important;
			line-height: 22px !important;
			padding-right: 0 !important;
			margin: 32px 0 43px;
		}
			.pg-contato .info-contato p a{
				display: inline-block;
				font-weight: initial;
			}
		.pg-contato .info-contato .mapa{
			margin: 0 0 36px;
		}
			.pg-contato .info-contato .mapa iframe{
				width: 100%;
				max-height: 140px;
				border-radius: 7px;
			}
		.pg-contato .info-contato a{
			
		}
		.pg-contato .info-contato .contato{
			display: block;
			font-family: var(--roboto);
			color: #000;
			font-weight: 500;
			margin: 0 0 37px;
			position: relative;
			padding: 0 0 0 38px;
		}
		.pg-contato .info-contato .contato::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 22px;
			height: 22px;
		}
		.pg-contato .info-contato .contato.email::before{
			background-image: url('../img/mail (14)@1,5x.svg');
			width: 22px;
			height: 18px;
		}
		.pg-contato .info-contato .contato.tel::before{
			background-image: url('../img/phone (11)@1,5x.svg');
		}
		.pg-contato .info-contato .contato.endereco::before{
			background-image: url('../img/map-pin (10)@1,5x.svg');
			height: 26px;
		}
		.pg-contato .info-contato .endereco{
			margin: 0;
		}
	.pg-contato .formulario-contato{
		position: relative;
		z-index: 5;
	}
	.pg-contato .formulario-contato form{
		margin: 0 0 0 auto;
	}
		.pg-contato .formulario-contato form input, .pg-contato .formulario-contato form textarea{
			margin: 0 0 15px !important;
			font-size: 15px;
			font-family: var(--roboto);
		}
		.pg-contato .formulario-contato form input::placeholder, .pg-contato .formulario-contato form textarea::placeholder{
			color: rgba(0, 0, 0, 0.3);
			font-weight: 500;
		}
		.pg-contato .formulario-contato form input{
			box-shadow: 0 19px 28px 0 rgba(0,0,0,0.1);
		}
		.pg-contato .formulario-contato form textarea{

		}
		.pg-contato .formulario-contato form .buttons{

		}
			.pg-contato .formulario-contato form .buttons a.button-padrao{
				background-color: var(--verde);
				text-transform: initial;
				font-weight: 300;
				padding: 7px 30px;
				position: relative;
			}
				.pg-contato .formulario-contato form .buttons a.button-padrao::before {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					top: 50%;
					left: 14px;
				    background-image: url(../img/icon_chat_whatsapp.svg);
				    background-size: cover;
				    background-position: center;
				    background-repeat: no-repeat;
				    -webkit-transform: translateY(-50%);
				    -moz-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				    -o-transform: translateY(-50%);
				    transform: translateY(-50%);
				}
			.pg-contato .formulario-contato form .buttons .button-enviar{
				margin: 0 0 0 16px;
			}
				.pg-contato .formulario-contato form .buttons .button-enviar input[type="submit"]{
					box-shadow: 0 0;
					margin: 0 !important;
				}


/* MEDIA QUERY */
@media(max-width: 1200px){
	.pg-contato {
		background-position: 808px -42px;
	}
	.pg-contato::before, .pg-contato::after {
		left: 466px;
	}
}

@media(max-width: 991px){
	.pg-contato {
		background-position: 658px -42px;
	}
	.pg-contato::before, .pg-contato::after {
		left: 316px;
	}
	.pg-contato .formulario-contato form .buttons .button-enviar {
		margin: 0 0 0 5px;
	}
	.pg-contato .formulario-contato form .buttons .button-enviar input[type="submit"]{
		padding: 7px 20px 7px 35px;
	}
	.pg-contato .formulario-contato form .buttons a.button-padrao {
		padding: 6px 20px;
	}
	.pg-contato .secao-contato .formulario-contato form .button-enviar::before{
		left: 16px;
	}
	.pg-contato .titulo {
		padding: 0 330px 0 0;
	}
}

@media(max-width: 768px){
	.pg-contato::before, .pg-contato::after{
		display: none;
	}
	.pg-contato{
		background-image: none;
	}
	.pg-contato .formulario-contato form{
		max-width: 100% !important;
		padding-top: 60px !important;
	}
	.pg-contato .info-contato {
		padding-right: 0 !important;
	}
	.pg-contato .titulo{
		padding: 0;
	}
}

@media(max-width: 600px){
	.pg-contato .titulo {
		font-size: 60px;
		line-height: 50px;
	}
	.pg-contato .info-contato .endereco br{
		display: none;
	}
}

@media(max-width: 425px){
	.pg-contato .titulo {
		font-size: 50px;
		line-height: 42px;
	}
}

@media(max-width: 320px){}