/* PÁGINA DE PROJETO */
.pg-projeto{

}
	.pg-projeto .secao-destaque{

	}
		.pg-projeto .secao-destaque .destaque{
			padding: 149px 0;
			background-image: url(../img/banner.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
		}
		.pg-projeto .secao-destaque .destaque::before{
			content: '';
			position: absolute;
			display: block;
			bottom: 0;
			left: 50%;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, var(--azul-escuro), transparent);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
			.pg-projeto .secao-destaque .destaque article, .pg-projeto .secao-destaque .destaque figure{
				position: relative;
				display: inline-block;
				width: 100%;
				vertical-align: middle;
			}
			.pg-projeto .secao-destaque .destaque article{
				color: #fff;
				max-width: 47.8%;
			}
				.pg-projeto .secao-destaque .destaque article .titulo{
					font-size: 80px;
					color: #fff;
				}
				.pg-projeto .secao-destaque .destaque article p{
					font-size: 14px;
					margin: 36px 0;
					line-height: 26px;
					font-family: var(--roboto);
					font-weight: 300;
				}
				.pg-projeto .secao-destaque .destaque article .button-padrao{
					padding: 9px 40px;
				}
				.pg-projeto .secao-destaque .destaque article .online{
					background-color: var(--verde);
					margin-left: 15px;
				}
			.pg-projeto .secao-destaque .destaque figure{
				max-width: 51.8%;
				margin: 0;
				text-align: center;
			}
				.pg-projeto .secao-destaque .destaque figure img{
					width: 100%;
					max-width: 260px;
					display: inline-block;
				}
	.pg-projeto .menu-projeto{
		text-align: center;
	}
		.pg-projeto .menu-projeto nav{
			font-size: 0;
		}
			.pg-projeto .menu-projeto nav a, .pg-projeto .menu-projeto nav a::before{
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
			}
			.pg-projeto .menu-projeto nav a{
				padding: 26px 50px 25px;
				margin: 0 30px;
				text-transform: uppercase;
				font-family: var(--roboto);
				font-weight: 500;
				color: var(--cinza-texto);
				font-size: 14px;
				display: inline-block;
				position: relative;
			}
			.pg-projeto .menu-projeto nav a::before{
				content: '';
				position: absolute;
				display: block;
				bottom: 0;
				left: 50%;
				width: 100%;
				height: 4px;
				opacity: 0;
				background: var(--azul-principal);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			.pg-projeto .menu-projeto nav a:hover{
				color: #000;
			}
			.pg-projeto .menu-projeto nav a:hover::before{
				opacity: 1;
			}
			.pg-projeto .menu-projeto nav a.active-iten{
				color: #000;
			}
			.pg-projeto .menu-projeto nav a.active-iten::before{
				opacity: 1;
			}
	.pg-projeto .secao-preco{
		background-color: var(--cinza-claro);
		padding: 82px 0 100px;
	}
		.pg-projeto .secao-preco article, .pg-projeto .secao-preco ul{
			display: inline-block;
			width: 100%;
			vertical-align: top;
		}
		.pg-projeto .secao-preco article{
			max-width: 52.9%;
		}
			.pg-projeto .secao-preco article span{
				font-family: var(--kanit);
				text-transform: uppercase;
				color: var(--cinza-texto);
				font-size: 14px;
				margin: 0 0 5px;
				display: inline-block;
			}
			.pg-projeto .secao-preco article .titulo{
				font-size: 80px;
				line-height: 70px;
			}
			.pg-projeto .secao-preco article p{
				margin: 31px 0 114px;
				font-family: var(--roboto);
				color: var(--cinza-texto);
				line-height: 24px;
			}
			.pg-projeto .secao-preco article .button-padrao{

			}
			.pg-projeto .secao-preco article .online{
				background-color: var(--verde);
				margin-left: 15px;
			}
		.pg-projeto .secao-preco ul{
			max-width: 46.7%;
		}
			.pg-projeto .secao-preco ul li{
				font-family: var(--roboto);
				font-weight: 500;
				margin: 0 auto 24px;
				max-width: 285px;
				position: relative;
				padding: 0 0 0 34px;
			}
			.pg-projeto .secao-preco ul li img{
				position: absolute;
				display: block;
				top: 50%;
				left: 0;
				width: 20px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
	.pg-projeto .secao-plantas{
		padding: 123px 0;
	}
		.pg-projeto .secao-plantas article, .pg-projeto .secao-plantas .planta{
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		.pg-projeto .secao-plantas article{
			max-width: 50%;
			min-height: 380px; 
		}
			.pg-projeto .secao-plantas article .titulo{
				font-size: 80px;
				padding: 0 30px;
			}
			.pg-projeto .secao-plantas article table{
				margin: 28px 0 0;
				height: 364px;
				overflow-y: scroll;
				display: block;
			}
				.pg-projeto .secao-plantas article table tr{
					cursor: pointer;
					border-bottom: 12px solid #fff;
					border-top: 12px solid #fff;
				}
				.pg-projeto .secao-plantas article table tr::before{
					/*content: '';*/
					position: absolute;
					display: block;
					top: 50%;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--cinza-claro);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
					z-index: -1;
				}
				.pg-projeto .secao-plantas article table tr:hover{
					background-color: rgba(216, 216, 216, 0.2);
				}
				.pg-projeto .secao-plantas article table tr:hover th{
					color: #000;
				}
					.pg-projeto .secao-plantas article table tr th{
						font-family: var(--roboto);
						font-weight: 400;
						color: var(--cinza-texto);
						padding: 13px 32px;
						position: relative;
					}
					.pg-projeto .secao-plantas article table tr th::before{
						/*content: '';*/
						position: absolute;
						display: block;
						top: 50%;
						left: 0;
						width: 100%;
						height: 100%;
						/*background-color: var(--cinza-claro);*/
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
						z-index: -1;
					}
					.pg-projeto .secao-plantas article table tr th.seta{
						position: relative;
					}
					.pg-projeto .secao-plantas article table tr th.seta::before{
						content: '';
						position: absolute;
						display: none;
						top: 50%;
						left: 50%;
						width: 12px;
						height: 12px;
						background-image: url('../img/arrow-right (68)@1,5x.svg');
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						z-index: 5;
					}
					.pg-projeto .secao-plantas article table tr:hover th.seta::before{
						display: block;
					}
					.pg-projeto .secao-plantas article table tr th.radius-left{
						border-radius: 100px 0 0 100px;
						display: table-cell;
					}
					.pg-projeto .secao-plantas article table tr th.radius-right{
						border-radius: 0 100px 100px 0;
						display: table-cell;
					}
				.pg-projeto .secao-plantas article table .row-titulo{
					cursor: unset;
				}
				.pg-projeto .secao-plantas article table .row-titulo:hover{
					background-color: transparent;
				}
					.pg-projeto .secao-plantas article table .row-titulo:hover th{
						color: var(--cinza-texto);
					}
					.pg-projeto .secao-plantas article table .row-titulo th{
						font-family: var(--kanit);
						color: var(--cinza-texto);
						font-weight: 400;
						text-transform: uppercase;
						font-size: 12px;
					}
					.pg-projeto .secao-plantas article table .row-titulo th::before{
						display: none;
					}
			.pg-projeto .secao-plantas article table tr.tr-active{
				background-color: rgba(216, 216, 216, 0.2);
			}
			.pg-projeto .secao-plantas article table tr.tr-active .seta::before{
				display: block;
			}
			.pg-projeto .secao-plantas article table tr.tr-active th{
				color: #000;
			}
		.pg-projeto .secao-plantas .planta{
			max-width: 49.7%;
			margin: 0;
			height: 507px;
			text-align: center;
			padding-left: 30px;
		}
			.pg-projeto .secao-plantas .planta img{
				width: auto;
				max-width: 100%;
				max-height: 100%;
			}
	.pg-projeto .secao-localizacao{
		background-color: var(--cinza-claro);
	}
		.pg-projeto .secao-localizacao .left-side-container{
			padding: 0;
		}
		.pg-projeto .secao-localizacao .col-sm-6{
			padding: 0;
			text-align: right;
		}
		.pg-projeto .secao-localizacao figure{
			margin: 0;
		}
			.pg-projeto .secao-localizacao figure img{
				width: 100%;
			}
		.pg-projeto .secao-localizacao article{
			padding: 86px 60px 0 10px;
			text-align: left;
			max-width: 754px;
			display: inline-block;
		}
			.pg-projeto .secao-localizacao article h2.titulo{

			}
			.pg-projeto .secao-localizacao article p{
				margin: 23px 0 59px;
				font-family: var(--roboto);
				color: var(--cinza-texto);
			}
			.pg-projeto .secao-localizacao article .endereco{
				margin: 0;
				font-size: 20px;
			}
				.pg-projeto .secao-localizacao article .endereco a{
					text-decoration: none;
					color: var(--azul-escuro);
					position: relative;
					padding-left: 45px;
				}
				.pg-projeto .secao-localizacao article .endereco a::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-image: url('../img/map-pin (10)@1,5x.svg');
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					width: 22px;
					height: 26px;
				}
			.pg-projeto .secao-localizacao article .mapa{
				margin: 29px 0 74px;
			}
				.pg-projeto .secao-localizacao article .mapa iframe{
					width: 100%;
					max-height: 140px;
				}
			.pg-projeto .secao-localizacao article h3.titulo{
				font-size: 24px;
			}
			.pg-projeto .secao-localizacao article ul{
				margin: 28px 0 0;
			}
				.pg-projeto .secao-localizacao article ul li{
					display: inline-block;
					width: 100%;
					max-width: 25%;
					margin: 0 0 20px;
					font-family: var(--roboto);
					position: relative;
					padding-left: 28px;
				}
				.pg-projeto .secao-localizacao article ul li::before{
					content: '';
					position: absolute;
					display: block;
					top: 50%;
					left: 0;
					width: 16px;
					height: 16px;
					background-image: url(../img/icon_check_mark@1,5x.svg);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
	.pg-projeto .secao-galeria{
		background-color: var(--cinza-claro);
		padding: 89px 0 80px;
	}
		.pg-projeto .secao-galeria .col-sm-3, .pg-projeto .secao-galeria .col-sm-6{
			padding: 0;
		}
		.pg-projeto .secao-galeria .titulo{
			font-size: 75px;
		}
		.pg-projeto .secao-galeria a.button-padrao{
			position: relative;
			padding: 14px 30px 14px 70px;
			font-size: 12px;
			margin: 22px 0;
		}
		.pg-projeto .secao-galeria a.button-padrao::before{
			content: '';
			position: absolute;
			top: 50%;
			left: 30px;
			width: 26px;
			height: 21px;
			background-image: url(../img/nuvem.svg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		.pg-projeto .secao-galeria nav{
			text-align: center;
			font-size: 0;
			border-bottom: 1px solid var(--cinza-escuro);
			max-width: 396px;
			margin: 0 auto;
		}
			.pg-projeto .secao-galeria nav a{
				padding: 26px 0;
				display: inline-block;
				font-size: 13px;
				font-family: var(--kanit);
				text-transform: uppercase;
				color: var(--cinza-texto);
				width: 100%;
				max-width: 198px;
			}
			.pg-projeto .secao-galeria nav a.galeria-ativa{
				border-bottom: 4px solid var(--azul-principal);
				color: #000;
			}
			.pg-projeto .secao-galeria nav a:hover{
				border-bottom: 4px solid var(--azul-principal);
				color: #000;
			}
		.pg-projeto .secao-galeria .carrossel-galeria{
			margin: 76px 0 0;
			display: none;
		}
		.pg-projeto .secao-galeria .carrossel-galeria.carrossel-galeria-active{
			display: block;
		}
			.pg-projeto .secao-galeria .carrossel-galeria figure, .pg-projeto .secao-galeria .carrossel-galeria .video{
				max-width: 1260px;
			}
				.pg-projeto .secao-galeria .carrossel-galeria figure img, .pg-projeto .secao-galeria .carrossel-galeria .video iframe{
					margin: 0 auto;
					width: 100%;
					max-width: 1200px;
					border-radius: 5px;
					height: 450px;
				}
			.pg-projeto .secao-galeria .carrossel-galeria .video{

			}
				.pg-projeto .secao-galeria .carrossel-galeria .video video{

				}
			.pg-projeto .secao-galeria .carrossel-galeria .owl-dots{
				max-width: 1178px;
				margin: 30px auto 0;
				width: 100%;
				background-color: rgba(216, 216, 216, 0.6);
				font-size: 0;
				height: 6px;
				overflow: hidden;
			}
				.pg-projeto .secao-galeria .carrossel-galeria .owl-dots .owl-dot{
					outline: none;
					width: 100%;
					background-color: rgba(216, 216, 216, 0.6);
					max-width: 5.26%;
				}
					.pg-projeto .secao-galeria .carrossel-galeria .owl-dots .owl-dot span{
						margin: 0;
						display: block;
						width: 100%;
						height: 6px;
					}
				.pg-projeto .secao-galeria .carrossel-galeria .owl-dots .owl-dot.active{

				}
					.pg-projeto .secao-galeria .carrossel-galeria .owl-dots .owl-dot.active span{
						background-color: var(--azul-principal);
					}
					.pg-projeto .secao-galeria .carrossel-galeria .owl-dots .owl-dot:hover span{
						background: #b7b7b7;
					}
	.pg-projeto .secao-diferenciais{
		background-color: var(--cinza-claro);
	}
	.pg-projeto .secao-diferenciais .col-md-6{
		text-align: right;
	}
		.pg-projeto .secao-diferenciais .col-sm-5, .pg-projeto .secao-diferenciais .col-sm-7{
			padding: 0;
		}
		.pg-projeto .secao-diferenciais .col-sm-5{
			text-align: right;
		}
		.pg-projeto .secao-diferenciais article{
			padding: 64px 0 0 0;
			max-width: 420px;
			display: inline-block;
			text-align: left;
		}
			.pg-projeto .secao-diferenciais article img{
				width: 100%;
				max-width: 30px;
			}
			.pg-projeto .secao-diferenciais article .titulo{
				margin: 25px 0 47px;
			}
			.pg-projeto .secao-diferenciais article p{
				margin: 0;
				font-family: var(--roboto);
				font-size: 13px;
				line-height: 22px;
			}
		.pg-projeto .secao-diferenciais iframe{
			width: 100%;
			max-width: 677px;
			min-height: 408px;
		}
		.pg-projeto .secao-diferenciais ul{
			padding: 80px 0 84px;
		}
			.pg-projeto .secao-diferenciais ul li{
				display: inline-block;
				width: 100%;
				max-width: 33.3%;
				vertical-align: top;
			}
			.pg-projeto .secao-diferenciais ul li.diferencial-left{
				padding-right: 158px;
			}
			.pg-projeto .secao-diferenciais ul li.diferencial-center{
				padding: 0 78px;
			}
			.pg-projeto .secao-diferenciais ul li.diferencial-right{
				padding-left: 140px;
			}
				.pg-projeto .secao-diferenciais ul li img{
					width: 100%;
					max-width: 50px;
				}
				.pg-projeto .secao-diferenciais ul li .titulo{
					font-size: 28px;
					margin: 56px 0 60px;
					min-height: 67px;
				}
				.pg-projeto .secao-diferenciais ul li p{
					margin: 0;
					font-family: var(--roboto);
					color: var(--cinza-texto);
					font-size: 13px;
					/*padding: 0 153px 0 0;*/
					line-height: 23px;
				}


/* MEDIA QUERY */
@media(max-width: 1500px){
	.pg-projeto .secao-localizacao article {
		padding: 86px 10px 0;
	}
}

@media(max-width: 1360px){
	.pg-projeto .menu-projeto nav a {
		margin: 0 8px;
	}
	.pg-projeto .secao-plantas .planta {
		max-width: 46.7%;
	}
}

@media(max-width: 1200px){
	.pg-projeto .secao-destaque .destaque figure {
		max-width: 51.5%;
	}
	.pg-projeto .secao-destaque .destaque article p {
		margin: 24px 0;
	}
	.pg-projeto .secao-destaque .destaque article .button-padrao {
		padding: 9px 25px;
	}
	.pg-projeto .secao-destaque .destaque article .titulo {
		font-size: 62px;
	}
	.pg-projeto .secao-destaque .destaque article .online {
		margin-left: 8px;
	}
	.pg-projeto .secao-localizacao article ul li {
		max-width: 29.7%;
	}
	.pg-projeto .secao-diferenciais ul li.diferencial-right {
		padding-left: 100px;
	}
	.pg-projeto .secao-diferenciais ul li.diferencial-center {
		padding: 0 66px;
	}
	.pg-projeto .secao-diferenciais ul li.diferencial-left {
		padding-right: 108px;
	}
	.pg-projeto .secao-diferenciais article {
		padding: 64px 73px 0 0;
	}
	.pg-projeto .secao-preco article .titulo {
		font-size: 60px;
		line-height: 50px;
	}
	.pg-projeto .secao-preco ul {
		max-width: 45.7%;
	}
	.pg-projeto .secao-plantas article {
		max-width: 55%;
	}
	.pg-projeto .secao-plantas .planta {
		max-width: 40.7%;
	}
}

@media(max-width: 1110px){
	.pg-projeto .secao-galeria a.button-padrao {
		padding: 10px 21px 10px 53px;
	}
	.pg-projeto .secao-galeria a.button-padrao::before {
		left: 20px;
		width: 21px;
		height: 17px;
	}
}

@media(max-width: 1030px){
	.pg-projeto .menu-projeto nav a {
		padding: 26px 30px 25px;
	}
}

@media(max-width: 991px){
	.pg-projeto .secao-destaque .destaque article .online {
		margin: 0;
	}
	.pg-projeto .secao-destaque .destaque article .button-padrao {
		padding: 8px 18px;
		margin: 0 0 10px;
	}
	.pg-projeto .secao-destaque .destaque article .titulo {
		font-size: 50px;
	}
	.pg-projeto .secao-destaque .destaque figure img {
		max-width: 220px;
	}
	.pg-projeto .secao-diferenciais ul li.diferencial-right {
		padding-left: 21px;
	}
	.pg-projeto .secao-diferenciais ul li.diferencial-center {
		padding: 0px 30px;
	}
	.pg-projeto .secao-diferenciais ul li.diferencial-left {
		padding-right: 18px;
	}
	.pg-projeto .secao-diferenciais article {
		padding: 64px 5px 0 0;
	}
	.pg-projeto .secao-diferenciais iframe {
		max-width: 527px;
		min-height: 338px;
	}
	.pg-projeto .secao-preco article .titulo {
		font-size: 48px;
		line-height: 50px;
	}
	.pg-projeto .secao-preco article p {
		margin: 20px 0 84px;
		line-height: 24px;
	}
	.pg-projeto .secao-preco article .button-padrao {
		margin: 0 0 10px;
	}
	.pg-projeto .secao-preco article .online {
		margin: 0;
	}
	.pg-projeto .secao-plantas article {
		max-width: 58%;
	}
	.pg-projeto .secao-localizacao article {
		padding: 28px 0 0;
		max-width: 100%;
	}
	.pg-projeto .secao-localizacao figure {
		display: none;
	}
	.pg-projeto .secao-localizacao article .mapa {
		margin: 22px 0;
	}
	.pg-projeto .secao-localizacao article p {
		margin: 20px 0;
	}
	.pg-projeto .secao-localizacao article ul {
		margin: 22px 0 0;
	}
	.pg-projeto .secao-localizacao article ul li {
		margin: 0 0 8px;
	}
	.pg-projeto .secao-galeria{
		padding: 50px 0;
	}
	.pg-projeto .secao-plantas article {
		max-width: 100%;
	}
	.pg-projeto .secao-plantas .planta {
		max-width: 100%;
	}
	.pg-projeto .secao-galeria nav{
		max-width: 320px;
	}
	.pg-projeto .secao-galeria nav a {
		padding: 16px 0;
		font-size: 12px;
		max-width: 160px;
	}
	.pg-projeto .secao-galeria .titulo {
		font-size: 50px;
	}
	.pg-projeto .secao-plantas article .titulo {
		font-size: 50px;
		padding: 0;
	}
	.pg-projeto .secao-plantas {
		padding: 33px 0;
	}
	.pg-projeto .secao-preco {
		padding: 30px 0;
	}
	.pg-projeto .secao-preco article p {
		margin: 22px 0;
		line-height: 24px;
	}
	.pg-projeto .secao-preco ul li {
		margin: 0 auto 12px;
	}
	.pg-projeto .menu-projeto nav a {
		font-size: 12px;
	}
	.pg-projeto .secao-plantas .planta {
		margin: 25px 0 0;
		height: 340px;
		padding: 0;
	}
	.pg-projeto .secao-galeria .carrossel-galeria {
		margin: 28px 0 0;
	}
	.pg-projeto .secao-galeria a.button-padrao {
		padding: 10px 16px 10px 40px;
		font-size: 11px;
	}
	.pg-projeto .secao-galeria a.button-padrao::before {
		left: 13px;
		width: 17px;
		height: 14px;
	}
	.pg-projeto .secao-galeria .titulo {
		text-align: center;
	}
	.pg-projeto .secao-galeria a.button-padrao {
		margin: 22px auto 0;
		display: block;
		max-width: fit-content;
	}
	.pg-projeto .secao-destaque .destaque figure {
		max-width: 100%;
		margin: 20px 0 0;
	}
	.pg-projeto .secao-destaque .destaque article p {
		margin: 17px 0;
		line-height: 20px;
	}
	.pg-projeto .secao-destaque .destaque {
		padding: 29px 0;
	}
	.pg-projeto .secao-destaque .destaque article{
		max-width: 100%;
	}
}

@media(max-width: 870px){

}

@media(max-width: 768px){
	.pg-projeto .secao-diferenciais ul li .titulo {
		margin: 26px 0 20px;
	}
	.pg-projeto .secao-diferenciais ul li {
		max-width: 100%;
		padding: 0 !important;
		margin: 0 0 20px;
	}
	.pg-projeto .secao-diferenciais article p br{
		display: none;
	}
	.pg-projeto .secao-diferenciais article {
		margin: 0 0 30px;
	}
	.pg-projeto .secao-diferenciais iframe {
		max-width: 100%;
		min-height: 388px;
	}
	.pg-projeto .secao-preco article, .pg-projeto .secao-preco ul{
		max-width: 100% !important;
	}
	.pg-projeto .secao-preco ul li {
		max-width: 100%;
	}
	.pg-projeto .secao-preco article {
		margin: 0 0 30px;
	}
	.pg-projeto .secao-preco article p {
		margin: 17px 0 34px;
	}
	.pg-projeto .secao-galeria{
		padding: 50px 10px;
	}
	.pg-projeto .menu-projeto nav a {
		padding: 18px 20px 17px;
	}
	.pg-projeto .secao-diferenciais iframe {
		min-height: 368px;
	}
	.pg-projeto .secao-diferenciais article {
		padding: 0;
		max-width: 100%;
	}
	.pg-projeto .secao-diferenciais article .titulo {
		margin: 25px 0;
	}
	.pg-projeto .secao-diferenciais ul li .titulo {
		margin: 18px 0;
		min-height: auto;
	}
	.pg-projeto .secao-diferenciais ul {
		padding: 22px 0;
	}
	.pg-projeto .secao-plantas article .titulo, .pg-projeto .secao-localizacao article h2.titulo, .pg-projeto .secao-galeria .titulo, .pg-projeto .secao-diferenciais article .titulo{
		font-size: 28px;
	}
	.pg-projeto .secao-diferenciais ul li .titulo {
		font-size: 25px;
	}
}

@media(max-width: 700px){
	.pg-projeto .menu-projeto nav a {
		padding: 13px 10px 12px;
		font-size: 11px;
		margin: 0 5px;
	}
}

@media(max-width: 600px){
	.pg-projeto .secao-localizacao article ul li {
		padding: 0;
		max-width: 167px;
	}
	.pg-projeto .secao-localizacao article ul li::before{
		display: none;
	}
	.pg-projeto .secao-localizacao article .endereco a {
		padding-left: 40px;
		font-size: 17px;
	}
}

@media(max-width: 500px){
	.pg-projeto .secao-diferenciais iframe {
		max-width: 100%;
		max-height: 230px;
		min-height: auto;
	}
	.pg-projeto .secao-plantas article table tr th {
		padding: 13px 15px;
	}
	.pg-projeto .secao-plantas .planta{
		height: auto;
	}
}

@media(max-width: 430px){
	.pg-projeto .secao-plantas article table tr th {
		padding: 11px 10px;
	}
}

@media(max-width: 425px){
	.pg-projeto .secao-preco article p {
		margin: 16px 0;
		font-size: 13px;
		line-height: 19px;
	}
	.pg-projeto .secao-preco article .titulo {
		font-size: 40px;
	}
	.pg-projeto .secao-destaque .destaque figure img {
		max-width: 150px;
	}
	.pg-projeto .secao-destaque .destaque article .button-padrao {
		padding: 6px 12px;
		font-size: 11px;
	}
}

@media(max-width: 320px){}